<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Route | Posts</title>
  </head>
  <body>
    <header>
      <h1>Index Route | Posts</h1>
     </header>
    <main>
    <span><%=message%></span>
    <h2>Hi There, <%= user.username %>!
    <br> <a href="/posts/new">Create New Post</a>
    <section>
    <% for(let i=0; i<posts.length; i++){%>
      <br/>
      <h2>
      <a href='/posts/<%=posts[i]._id%>'><%=posts[i].title%></a> by <%=posts[i].author.username%></h2><br>
      <%=posts[i].body%> <br>
      <%=posts[i].comments.length%> comments
      
      
    <% } %>
    </section>
    </main>
    <footer>
    <a href='/'>return to main</a>
    </footer>
  </body>
</html>
