<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=showPost.title%></title>
            <link rel="stylesheet" type="text/css" href="/main.css">

  </head>
  <body>
    <header>
      <h1><%=showPost.title%></h1>
      <%if(showPost.bearishCheckBox){%><span class='short'>SHORT THIS STOCK</span>
      <%}else{%><span class='long'>GO LONG BABY</span> <%}%>
     </header>
    <main>
    <div class="allposts">
    <span class='showPostBody'>
    <%=showPost.body%></br>
    </span>
    <span class='sectionClass'>
    A post by <a href='/users/<%=showPost.author._id%>'><%=showPost.author.username%></a> <br>
    posted at <%=showPost.timeStamp.toLocaleString()%>
    <div class='empty'></div>
    <%=showPost.comments.length%> comments <br>
    <%for(let i=0; i<showPost.comments.length; i++){%>
    <%=showPost.comments[i].createdBy.username%> said
    <%=showPost.comments[i].body%> AT <%=showPost.comments[i].timeStamp.toLocaleString()%></br>
    <%}%>
    </span>
    </div>
      <div class='empty'></div>
    <section>
    <form class='forms' id='comment' action="<%=showPost._id%>" method="post" >
        
        <textarea class='forms' name="body"></textarea><br/>
        <input type="submit" value="submit comment"/>
      </form>
    </section>
    <section>
        <%if (showPost.author._id.toString() === userId.toString()) {%>
        <form action="/posts/<%=showPost._id%>?_method=DELETE" method="POST">
              <button type="submit">Delete Post</button>
        </form>
        <%}%>
     </section>

    </main>
    <footer>
    <a href='/'>return to main</a>
    </footer>
  </body>
</html>
